<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid row">
   <div class="container-fluid row-sm-12">
        <app-header-navigation (navSelect)="onNavSelected($event)"></app-header-navigation>
   </div>
   <!--div *ngIf="option!='shopping'"class="container-fluid row">
        <app-recipe-book></app-recipe-book>
   </div>
   <hr>
   <div *ngIf="option==='shopping'"class="container-fluid row-sm-12">
        <app-shopping-list></app-shopping-list>
   </div-->
   <router-outlet></router-outlet>
</div>
